<!-- views/partials/edit-container.ejs -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<% include ../partials/head %>

<body>

<div id="wrapper">

<% include ../partials/branding %>

<h1 style="font-size:26px;">Edit Message</h1>

<div style="margin-top:35px" id="">
  <h2 style="margin-bottom:4px;">Choose whose message to edit</h2>
  <form method="post" action=/edit-action>
    <select style="font-size:22px" name="username">
      <% data.forEach((data) => { %>
        <option value= <%= data.username %>>
          <%= data.username %>
        </option>
        <% }); %>
    </select>

    <br><br><br>
    <h2>New Message here</h2>
    <textarea class="footerFormR" name="message" class="footertextarea" rows="4" cols="4"></textarea>
    <br><br><br><br><br><br>
    <input style="font-size:20px" value="Edit" type="submit" />
  </form>

  <table border="1">

    <tr>
      <th>Username</th>
      <th>Country</th>
      <th>Message</th>
    </tr>

    <% data.forEach((data) => { %>
    <tr>
      <td>
        <%= data.username %>
      </td>
      <td>
        <%= data.country %>
      </td>
      <td>
        <%= data.message %>
      </td>

    </tr>
    <% }); %>

  </table>
</div>

</div>

<% include ../partials/footer-container %>

</body>
</html>
